<meta charset="utf-8" />
<meta name="viewport" content="width=device-width">

<title>{{capitalizeEach title}} | Jeffrey Brown</title>
<meta content="{{pageDescription}}" name="description" />

{{> styles }}

<!-- build:js {{assets}}/js/modernizr.min.js -->
<script src="{{assets}}/js/libs/modernizr-custom.js"></script>
<!-- endbuild -->
